
body{
	margin-bottom:10px;
	font-family:gadugi;
}

.helvetica{
	font-family: Helvetica; 
}

.em13{
	font-size:1.3em;
}

.float-left{
	float:left;
}

.right{
	text-align:right;
}

.destra{
	float:right;
}

.center{
	text-align:center;
}

.big-pad{
	padding-top:65px
}

.top-20px{
	padding-top:20px
}

.white{
	color:#fafafa;
}

.grassetto{
	font-weight:700;
}

.push-top{
	padding-top:30px;
}

.push-bot{
	padding-bottom:30px;
}
   

/*INIZIO NAV*/

#nagigation{
    display: -webkit-inline-box;
}

.dropdown .sub_navigation{
	display:none;
	top:1em;
	left:0;
	top: auto;
 }

.sub_navigation{
		background-color:transparent;
}
.sub_navigation>li{
	border: 8px solid transparent;
}

.dropdown:hover{
	background-color:#fafafa;
	overflow: visible;
}

.dropdown:hover  .voci_principali{
	background-color:#fafafa;
}

a:hover, a:focus {
    text-decoration: none; 
}	

.dropdown>a{
	padding-right:14px; 
	padding-left:14px;
}

.dropdown{
	padding-bottom:2px;
	padding-top:6px;
	z-index:1;
}

.row.blu{
	min-height:90px;
}
.navigazione1 {
	position:absolute;
}

.mombile-li{
	display:none;
	background:rgba(255,255,255,.3);
}

.freccia-destra{
	display:inline;
}

.freccia-giu{
	display:none;
}

/*FINE NAV*/   

/*menu mobile*/

.center{
	max-width:100%
}

#tgmobmenu{
color:#fafafa;
background:#337ab7;
padding:10px 16px;
margin-bottom:10px;
display:inline-block;
border-radius:5px;
}
#mobmenu{
height:0vh;
width:100vw;
position:fixed;
z-index:100;
overflow: auto;
background:#337ab7;
color:#fff;
transition:all .5s;
top:0;
}
#xmobmenu{
padding:10px;
font-size:2em;
}
.menumoblink{
	font-size:2em;
	padding:10px;
}
.menumoblink a{
	display:block;
	border-bottom:2px solid #fafafa;
	color:#fafafa;
}
.menumoblink a.active{
	background:rgba(0, 0, 0, 0.3);
	
}

.hamb{
	text-align: right;
}
#tgmobmenu{
	background-color: #337ab7;
}


.dropdown:hover{
	background-color:transparent;
}

/*menu mobile*/
   
/*INIZIO sez1*/   

.cerca {
	border:1px solid #d3d3d3;
	border-radius:50px;
	text-align:center;
	margin-top:11px;
}

.lente{
	background-color:white;
	background-image: linear-gradient(to bottom,#fff 0,#FFFFFF 100%);
}

.btn{
	border-radius:20px;
	text-shadow: none;
    -webkit-box-shadow:none;
    box-shadow: none;
}

.btn-default:hover, .btn-default:focus {
    background-color: #e0e0e0;
    background-position: 0 0px;
}

.btn-default{
	border-color:#fafafa;
	color:#bababa;
}

.form-control{
	border-radius:20px;
}

.searcc{
	width:50%
}
.form-cerca{
	margin-top:-6px;
}

input{
	border:none!important;
}

.helper{
	height:0px;
}

.logo-h-lab{
	position:absolute;
	margin-top:6px
}

.foot-top ul{
	margin:0px 0px -17px 0px;
	padding:11px 0px 0px 0px;
	list-style-type:none;
	text-align:right;
}

.foot-top ul li{
	display:inline;
	padding-right:5px;
	padding-left:5px;
}

.foot-top ul li a{
	text-decoration:none;
	padding: 0px 10px;
	color: #bababa;
	font-size:1em
}

.navigazione1 ul{
	margin:0;
	padding:0;
}

.navigazione1 ul li{
	list-style:none;
	background-color:#fafafa;
	margin-top:2px;
}

.navigazione1 ul li a{
	text-decoration:none;
	padding: 0.2em 1em;
	color: #1F6DAB;
	font-size:1.2em
}

.blu{
	background-color:#BBD8E8;
	padding-bottom:10px
}



/*FINE sez1*/

/*INIZIO sez2*/   

.sez2 {
    background: url(../img/slide.jpg) center bottom no-repeat;
	background-size:cover;
	height:500px
}

.sfumatura {
    background: url(../img/blur.png) repeat-x bottom;
    opacity: 0.9;
    width: 100%;
    position: absolute;
    padding-top: 79px;
}

.helper2{
	height:300px;
}

.white1{
	color:#fafafa;
	padding-top:292px;
	font-weight:700;
	font-size:3em;
}
.white1p{
	color:#fafafa;
	padding-top:0;
	font-weight:700;
	font-size:2.2em;
}

/*FINE SEZ2*/

/*INIZIO SEZ3*/

.tit-art{
	color:#206EAC;
}

.tit-art p{
	color:#5a5a5a;
}

.art-foto{
	padding-left:15px;
	padding-left:15px;
}

.art-foto h2{
	color:#BA0025;
	font-size: 0.9em;
    font-weight: 700;
}

.art-foto p{
	color:#216FAF;
	font-size: 1.3em;
}

.blui{
	color:#216FAF;
	padding-bottom:20px;
	font-size:1.3em;
}

.blocco-foto{
	border-bottom: 5px solid #D6DADD;
	border-left: 2px solid #D6DADD;
	border-right: 2px solid #D6DADD;
	margin-top:30px;
}

.focuss1{
	height:250px;
	background: url(../img/focuss.jpg) no-repeat center;
	background-size:cover;	
}

.focuss2{
	height:250px;
	background: url(../img/focuss-1.jpg) no-repeat center;
	background-size:cover;	
}

.focus-txt p{
	text-decoration:none;
	padding: 0.2em;
	color: #1F6DAB;
	font-size:1.2em;
	padding-top:20px;
}

.focus-txt{
	padding-left:15px;
	background-color:#BBD8E8;
	border-bottom:5px solid #D6DADD
}

.focus-txt i{
	text-decoration:none;
	padding: 0.2em 1em;
	color: #1F6DAB;
	font-size:1.2em
}


.img-sez3-a{
	background: url(../img/img-sez3-a.jpg) no-repeat center;
	background-size:cover;
	height:300px;
}

.img-sez3-b{
	background: url(../img/img-sez3-b.jpg) no-repeat center;
	background-size:cover;
	height:300px;
}

.img-sez3-c{
	background: url(../img/img-sez3-c.jpg) no-repeat center;
	background-size:cover;
	height:300px;
}

/*FINE SEZ3*/

/*INIZIO SEZ4*/
.sez4{ 
	margin-top:60px;
	padding-bottom:75px;
	padding-top:80px;
	background-color:#E5B3BC;
}

.blocco-foto-rosa{
	background-color:white;
	border-bottom:4px solid #A80321;
	margin-bottom:20px;
}



.img-sez4-a{
	background: url(../img/img-sez4-a.jpg) no-repeat center;
	background-size:cover;
	height:300px;
}

.img-sez4-b{
	background: url(../img/img-sez4-b.jpg) no-repeat center;
	background-size:cover;
	height:300px;
}

.img-sez4-c{
	background: url(../img/img-sez4-c.jpg) no-repeat;
	background-size:cover;
	height:300px;
}


/*FINE SEZ4*/

/*INIZIO SEZ5*/

.navigazione h1 a{
	font-size:0.5em;
	font-weight:900;
}

.navigazione ul li a{
	font-size:0.9em;
	padding-left:0;
}

.navigazione ul li{
	display:block;
	line-height:30px;
}


.navigazione ul{
	margin:0;
	padding:0;
}

.navigazione ul li a{
	text-decoration:none;
	padding: 0.2em;
	color: #1F6DAB;
	font-size:1.2em
}

/*FINE SEZ5*/

.sez6{
	padding-top:1%;
}

.logo-edra{
	width:110%;
	text-align:right;
}

.copy{
	color:#565656;
	padding-top:15px;
}

.copy ul li{
	display:inline-block;
}

.img-logo-edra{
	display:inline-block;
	padding-top:5px;
}


@media(max-width:801px){
	.menu{
		margin-top:0%;
		padding-bottom:4%;
	}
	
	.copy>ul{
		text-align:center;
		padding-top:6%;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
	.dropdown>a{
		padding-right:7px;
		padding-left:7px;
	}
}


/* Portrait phones and smaller */
@media (max-width: 480px) {
	.copy>ul{
		padding-left:0px;
	}
	
	.form-cerca{
		margin-bottom:3px;
		margin-top:-9px;
	}	
}


/*modifiche cla*/



.navigazione1 ul li a:hover {
   color:#BBD8E8;
}

.voci_principali{   
	padding: 37px;
 }
 
 .margine-top{
	margin-top:30px;
 }
 
 
 /*Pagina TECNOLOGIA*/
 
 .sez2-tecnologia{
	
	background: url(../img/slide-2.jpg) center bottom no-repeat;
	background-size:cover;
	height:500px	 
 }
 
 .grigio a{
	 color:#bababa!important;
 }
 
 
 .fumetto{
	 padding-top:22px; 
 }
 
 .img-articolo{
	 margin-right:4%
 }
 
.vedi-anche{
	padding: 10px 0px;
	margin-top:20px;
	background-color:#FBF2F5;	
}
 
.vedi-anche h1{
	color:#BA0025;
	padding-left:20px;
	padding-right:20px;	
}

.vedi-anche p{
	color:#5a5a5a;
	font-size:1.1em;
	border-top: 2px solid #D7D1D1;
	padding-left:20px;
	padding-right:20px;	
	padding-top:10px;
} 
 
.articolo p{
	color:#5a5a5a;
}
 
.banner{
	height:360px;
	background-color:#D8D8D8;
	margin:40px 0px;
} 

.banner p{
	color:white;
	font-size:5em;
	text-align:center;
}

.altri-articoli{
	margin:30px 0px;
}	

.altri-articoli h1{
	color: #206EAC;
	border-bottom: 1px solid #D7D1D1;
	padding-bottom:25px;
}

.altri-articoli h2{
	color: #BA0025;
    font-size: 1.3em;
    font-weight: 600;
}

.altri-articoli p{
	color: #5a5a5a;
	font-size:1.3em;
	border-bottom: 1px solid #D7D1D1;
	padding-bottom:25px;
}
